.lectures {
    display: flex;
    flex-direction: column;
    margin: 90px 60px;
}
.lectures h2{
    font-family: "Pretendard-Bold", sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
.lectures-latest, .lectures-popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 65px;
}
.lectures-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lectures-popular img,
.lectures-latest img {
    width: 390px;
    height: 260px;
    margin-bottom: 15px;
}
.lectures-info__text{
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.lectures-info__text span{
    margin:0px 5px;
}