.my-classrom__title{
    font-family: "Pretendard-Bold", sans-serif;
    font-size: 32px;
    margin: 50px;
}
.my-classrom{
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
    font-size: 24px;
}
.my-sidebar{
    width: 240px;
    padding-left: 50px;
    border-right: 1px solid rgba(121, 121, 121, 0.3);
}
.content {
    flex-grow: 1;
}
.my-sidebar h3, .content h2{
    margin-top: 30px;
    margin-bottom: 20px;
    color: #0259DB;
}

.sidebar__list a{
    display: block;
    margin-bottom: 15px;
}

.content-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
}
.content h2, .content-bar h2 {
    font-family: "Pretendard-Semibold", sans-serif;
    font-size: 30px;
    color: black;
    margin-left: 30px;
}
.newlecture-upload {
    margin-top: 10px;
    width: 150px;
    height: 45px;
    padding: 10px 20px;
    background-color: var(--skyblue);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    margin-top: 20px;
}
.favorite-lecture {
    background-color: var(--skyblue);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}