.banner {
    position: relative;
}
.rectangle-1 {
    height: 173px;
}

.banner__text {
    color: #ffffff;
    text-align: left;
    font-family: "-", sans-serif;
    font-size: 36px;
    font-weight: 400;
    position: absolute;
    top: 40px;
    left: 60px;
    line-height: 1.2;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.banner__text__강의의새로운시대{
    font-family: "Pretendard-SemiBold", sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.banner__text__비밀강의실 {
    font-family: "YClover-Regular", sans-serif;
    font-size: 36px;
    font-weight: 400;
}
.banner__text__함께 {
    font-family: "Pretendard-SemiBold", sans-serif;
    font-size: 36px;
    font-weight: 600;
}